@font-face {
    font-family: 'iconfont';
    /* project id 955758 */
    src: url('//at.alicdn.com/t/font_955758_9hd4dowu4y.eot');
    src: url('//at.alicdn.com/t/font_955758_9hd4dowu4y.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_955758_9hd4dowu4y.woff') format('woff'), url('//at.alicdn.com/t/font_955758_9hd4dowu4y.ttf') format('truetype'), url('//at.alicdn.com/t/font_955758_9hd4dowu4y.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    border: none;
}

#header {
    width: 100%;
    height: 33px;
    background: #f2f2f2;
    font-size: 12px;
    .list01 {
        float: left;
        margin-left: 33px;
        li {
            line-height: 33px;
            float: left;
            margin-right: 20px;
            color: #999999;
            a {
                color: #999999;
            }
        }
    }
    .list001 {
        display: none;
        float: left;
        margin-left: 33px;
        li {
            line-height: 33px;
            float: left;
            margin-right: 20px;
            color: #999999;
            a {
                color: #999999;
            }
        }
    }
    .list02 {
        float: right;
        margin-right: 34px;
        em {
            font-size: 8px;
            color: #bbbbbb;
            margin-left: 3px;
        }
        li {
            margin-right: 20px;
            float: left;
            line-height: 33px;
            color: #999999;
            position: relative;
            &:last-child {
                #web {
                    position: absolute;
                    width: 1000px;
                    height: 100px;
                    // background: #f00;
                    left: -800px;
                    top: 33px;
                    display: none;
                    color: #333333;
                    h2 {
                        margin-left: 20px;
                        font-weight: 100;
                        font-size: 16px;
                    }
                    #web01 {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 480px;
                        height: 90px;
                        float: left;
                        // background: #00f;
                        li {
                            float: left;
                        }
                        border-right:1px solid #ccc;
                    }
                    #web02 {
                        position: absolute;
                        top: 0;
                        left: 491px;
                        float: left;
                        height: 90px;
                        // background: #f0f;
                        width: 250px;
                        border-right: 1px solid #ccc;
                    }
                    #web03 {
                        position: absolute;
                        top: 0;
                        left: 752px;
                        float: left;
                        height: 90px;
                        // background: #0f0;
                        width: 250px;
                    }
                }
            }
            &:hover {
                ul {
                    display: block;
                }
                #web {
                    display: block;
                }
            }
            ul {
                width: 100px;
                height: 80px;
                position: absolute;
                top: 33px;
                left: 0;
                background: #fff;
                display: none;
                padding: 5px;
                img {
                    width: 100px;
                    height: 80px;
                }
            }
            a {
                color: #999999;
            }
            span {
                color: #ff0036;
                margin-right: 5px;
            }
        }
    }
}

#top {
    width: 100%;
    height: 41px;
    //background: #0f0;
    padding: 15px 0 30px 0;
    .t-left {
        float: left;
        margin-left: 66px;
        height: 40px;
        .logo {
            padding-top: 10px;
            width: 164px;
            height: 30px;
            border-right: 1px solid #ccc;
            float: left;
            margin-top: 10px;
            // background: #00f;
        }
        .shop {
            width: 350px;
            height: 20px;
            padding: 10px;
            float: left;
            .shop-left {
                width: 200px;
                height: 40px;
                border-right: 1px dashed #ccc;
                float: left;
                font-size: 12px;
                cursor: pointer;
                span {
                    display: block;
                    margin-top: 5px;
                    width: 60px;
                    height: 15px;
                    background: #f4c985;
                    border-radius: 8px;
                    text-align: center;
                    line-height: 15px;
                    float: left;
                }
                em {
                    float: left;
                    color: deepskyblue;
                    margin-top: 7px;
                    margin-left: 5px;
                }
            }
            .shop-right {
                float: left;
                font-size: 12px;
                width: 138px;
                height: 40px;
                padding-left: 10px;
                // padding: 10px;
                border-right: 1px solid #ccc;
            }
        }
        .phone {
            width: 150px;
            height: 40px;
            float: left;
            font-size: 12px;
            // background: #00f;
            margin-top: 10px;
            span {
                font-size: 30px;
                cursor: pointer;
            }
        }
    }
    .t-right {
        float: right;
        margin-right: 34px;
        .Tmall {
            float: left;
            width: 410px;
            height: 35px;
            background: #ff0036;
            #txt {
                background: #fff;
                border: 0;
                width: 300px;
                height: 20px;
                margin-top: 3px;
                margin-left: 4px;
                padding: 5px;
                float: left;
            }
            #btn01 {
                color: #fff;
                width: 60px;
                height: 30px;
                float: left;
                background: none;
                margin-left: 20px;
                border: none;
            }
        }
        #btn02 {
            float: left;
            margin-left: 5px;
            width: 60px;
            height: 34px;
            background: #333333;
            border: 0;
            color: #fff;
        }
    }
}

.nav01 {
    width: 100%;
    height: 45px;
    background: #fc0f3d;
    ul {
        width: 1000px;
        height: 45px;
        margin: 0 auto;
        font-size: 14px;
        li {
            margin-top: 5px;
            float: left;
            width: 32px;
            height: 35px;
            padding: 0 10px;
            border-left: 1px dashed #fff;
            a {
                color: #fff;
            }
            &:first-child {
                width: 100px;
                height: 32px;
                img {
                    margin-left: 10px;
                    margin-top: 5px;
                }
            }
        }
    }
}

.pan {
    width: 100%;
    height: 117px;
    img {
        width: 100%;
        height: 117px;
    }
}

.nav02 {
    width: 100%;
    height: 33px;
    background: #e2dcdc;
    font-size: 14px;
    ul {
        float: left;
        margin-left: 130px;
        li {
            margin: 0 20px;
            float: left;
            line-height: 33px;
            a {
                color: #323433;
                span {
                    color: #f00;
                }
            }
        }
    }
    .n-search {
        float: right;
        margin-right: 117px;
        width: 160px;
        height: 20px;
        margin-top: 5px;
        font-size: 12px;
        border-radius: 10px;
        //border-radius: 10px;
        border: 1px solid #ccc;
        background: #fff;
        #txt02 {
            border: 0;
            background: none;
            margin: 2px;
            width: 130px;
        }
        #btn03 {
            border: 0;
            background: none;
            margin: 2px;
        }
    }
}

.wrap{
    width: 100%;
    height: 690px;
    //background: #0ff;
    .w-center{
        width: 510px;
        height: 460px;
        //background: #f00;
        float: left;
        padding: 40px 20px 0 20px;
        h2{
            font-size: 14px;
        }
        #center02{
            width: 510px;
            height: 110px;
            margin-top: 15px;
            background: url(../images/bg01.png) no-repeat 0 0;
            padding-top: 70px;
            .w01{
                width: 100%;
                 float: left;
                 margin-bottom: 10px;
                p{
                    float: left;
                    color: gray;
                    font-size: 12px;
                    margin-top: 8px;
                    margin-left: 20px;
                }
                span{
                    float: left;
                    color: #ff0036;
                    font-size: 22px;
                    margin-left: 10px;
                }
            }
            .w02{
                float: left;
                width: 100%;
                p{
                    float: left;
                    color: gray;
                    font-size: 12px;
                    margin-top: 5px;
                    margin-left: 20px;
                }
                span{
                    float: left;
                    color: #ff0036;
                    font-size: 18px;
                    margin-left: 10px;
                }
                em{
                    color: #b5621b;
                    font-size: 12px;
                    float: right;
                    margin-right: 30px;
                    margin-top: 5px;
                }
            }
            
            
        }
    }
    
    
    
#zoomBox {
    position: relative;
    width: 400px;
    margin-left: 100px;
    float: left;
    background: #f0f;
    // border: 1px solid #CECECE;
}

#midArea {
    /*position: absolute;*/
    width: 400px;
    height: 400px;
    // margin-left: 100px;
    //border: 1px solid #CECECE;
}

#midArea img {
    width: 400px;
    height: 400px;
}

#zoom {
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background: yellow;
    opacity: .3;
    cursor: move;
}

#bigArea {
    display: none;
    position: absolute;
    left: 400px;
    top: -1px;
    width: 400px;
    height: 400px;
    border: 1px solid #CECECE;
    overflow: hidden;
}

#bigArea img {
    position: absolute;
    width: 800px;
    height: 800px;
}

#smallArea ul {
    display: flex;
    height: 100px;
    width: 400px;
    border-top: 1px solid #CECECE;
    align-items: center;
    justify-content: space-around;
}

#smallArea li {
    border: 2px solid white;
    padding: 6px;
}

#smallArea li:hover,
#smallArea li.hover {
    border: 2px solid red;
}

#smallArea img {
    width: 60px;
    height: 60px;
}
}